@import '../../scss/abstracts.scss';

.block-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: green;
}

.block-two__text {
  color: $font-color;
}
