.blockOne {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10px;
}

.button {
  width: 200px;
  height: 70px;
}

.redBorder {
  border: 5px solid red;
}

.blackBorder {
  border: 5px solid black;
}

img {
  width: 100%;
}
