@import '../../scss/abstracts.scss';

.header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transform: translateX(-50%);
  @include size(100vw, 50px);
}

.logo {
  background: url('../../assets/images/logo.png') no-repeat center;
  background-size: contain !important;
  filter: drop-shadow(1px 1px 1px #000);
  @include size(170px);
}

.logo:hover {
  cursor: pointer;
}

.menu.close,
.menu.open {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 250px);
}

@media (max-width: 739px) {
  .menu.close {
    display: none;
  }

  .menu.open {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 225px;
    padding: 50px 30px;
    padding-right: 0;
    background: linear-gradient(180deg, #91b6c5 0%, #265187 100%);
    border-bottom: 1.5px dashed #fff;
    border-left: 1.5px dashed #fff;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 9px 1px #003b5d;
  }

  .menu.open * {
    margin-bottom: 10px;
  }
}
